
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Html.TextBox("name")
        </td>

    </tr>
    <tr>
        <td colspan="2">
            <button name="submit">Add</button>
        </td>
    </tr>
</table>

}

